*{
    padding: 0px;
    margin: 0px;
}
.history-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .history-page h2 {
    color: #4A00E0;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .history-page ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 1000px;
  }
  
  .history-page li {
    background-color: white;
    padding: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }